@model SLN_CRM_Master.DTO.ReservationDto
@using Newtonsoft.Json
@using System.Globalization
<style>
    
</style>
<div class="table-responsive">
    <table id="tblReservation" class="table table-hover table-custom">
        <thead class="thead-dark">
            <tr>
                <th>Cliente</th>
                <th>Descripción</th>
                <th>Entrada</th>
                <th>Salida</th>
                <th>Noches</th>
                <th>Habitación</th>
                <th>Estado</th>
                <th>Monto total</th>
                <th>Creado por externo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        @if(Model!=null && Model.reservationList != null)
        {
            <tbody>

                @foreach (var r in Model.reservationList)
                {
                    <tr class="@(r.create_by_external ? "external-true" : "external-false")">
                        <td>@r.Full_Name</td>
                        <td>@(string.IsNullOrWhiteSpace(r.Reservation_Description) ? "-" : r.Reservation_Description)</td>
                        <td>@(r.CheckIn.ToString("dd/MM/yyyy"))</td>
                        <td>@(r.CheckOut.ToString("dd/MM/yyyy"))</td>
                        <td>@r.Days</td>
                        <td>@r.DESCRIPTION_HOTELROOM_NAME</td>
                        <td>@r.Status</td>
                        <td>₡ @(Math.Round((decimal)r.TotalAmount,2))</td>
                        <td>@(r.create_by_external ? "Sí" : "No")</td>
                        <td>
                            @if (r.Status == "Reservado")
                            {
                                <button class="btn btn-success btn-sm" onclick="GenerateInvoceReservation(this)" title="Facturar"
                                        data-reservation='@JsonConvert.SerializeObject(r)'>
                                    <i class="fa-solid fa-cash-register"></i>
                                </button>
                                <button class="btn btn-danger btn-sm" onclick="DeleteReservation(@r.Id)" title="Eliminar Reservación">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            }
                            else if (r.Status == "Facturado")
                            {
                                <button class="btn btn-warning btn-sm" onclick="EndProcess(this)" title="Finalizar Reservación"
                                        data-reservation='@JsonConvert.SerializeObject(r)'>
                                    <i class="fa-solid fa-user-check"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        }

    </table>
</div>
